@page
@using WebAppIdentity.Models
@model CurrentOrderModel
@{
    ViewData["Title"] = "Ongoing bookings";
    ViewData["ActivePage"] = ManageNavPages.Orders;
    string[] TableHeaders = new string[] {
         "Order id"
        ,"Collection time"
        ,"Delivery time"
        ,"Collection address"
        ,"Delivery address"
        ,"Status"
        ,"Provided bags"
        ,"Manage"
        //maybe add estimated collection+delivery time later when we have calculated the route
    };
    var bookings = (List<Booking>)ViewData["bookingList"];
}

<head>
    <link rel="stylesheet" href="~/css/orders.css">
</head>

<div class="bookings-table-placeholder">
    <h2 class="title">@ViewData["Title"]</h2>
    <br />
    @{
        if (@bookings == null)
        {
            <p id="noBookingsParagraph">Couldn't find any ongoing booking...Click <a href="~/Bookings/Create">here</a> to place a booking!</p>
        }
        <table class="bookingHistory-table">
            <thead>
                <tr>
                    @{
                        /*Populate headers*/
                        foreach (var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }
                    }
                </tr>
            </thead>

            <tbody>
                @{
                    if (@bookings != null)
                    {
                        foreach (var Data in @bookings)
                        {
                            int index = 0;
                            <tr>
                                <td>@Data.Id</td>
                                <td>@Model.CollectionTimeStrings[index]</td>
                                <td>@Model.DeliveryTimeStrings[index]</td>
                                <td>@Data.PickUpAddress</td>
                                <td>@Data.ReturnAddress</td>
                                <td>@Data.Status.ToString()</td>
                                <td>@Data.AmountOfBags</td>
                                @{
                                    if (@Data.Status == Booking.BookingStatus.BOOKED)
                                    {
                                        <td>
                                            <form asp-controller="Bookings" asp-action="Delete" asp-route-id="@Data.Id">
                                                <input onclick="return confirm('Are you sure you want to cancel the order?');" type="submit" value="Cancel" />
                                            </form>
                                            <br />
                                            <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/501">Update booking info</a>
                                        </td>
                                    }
                                }
                            </tr>
                            index++;
                        }
                    }
                }
            </tbody>
        </table>
    }
</div>
<div>
    <a asp-page="./Orders">
        <button type="button" id="historyButton">History</button>
    </a>
</div>

<script>
    function confirmCancel() {
        let text = "Are you sure you want to cancel this order?";
        if (confirm(text)) {

        } else {

        }
    }
</script>