@page
@using WebAppIdentity.Models
@model OrdersModel
@{
    ViewData["Title"] = "Order history";
    ViewData["ActivePage"] = ManageNavPages.Orders;
    string[] TableHeaders = new string[] {
         "Order id"
        ,"Collection time"
        ,"Delivery time"
        ,"Collection address"
        ,"Delivery address"
        ,"Status"
        ,"Provided bags"
        ,"Manage"};
    var bookings = (List<Booking>) ViewData["bookingList"];
}

<div class="bookings-table-placeholder">
    <h2 class="title">@ViewData["Title"]</h2>
    <table class="bookingHistory-table">
        <thead>
            <tr>
                @{
                    /*Populate headers*/
                    foreach (var head in TableHeaders)
                    {
                                            <th>
                                                @head
                        </th>
                    }
                }
            </tr>
        </thead>

        <tbody>
            @{
                /*Populate table*/
                if (@bookings != null)
                {
                    <p>Couldn't find any booking...Click <a href="~/Bookings/Create"> here</a> to place your first Booking!</p>
                }
                else
                {
                    foreach (var Data in @bookings)
                    {
                        int index = 0;
                        <tr>
                            <td>@Data.Id</td>
                            <td>@Model.CollectionTimeStrings[index]</td>
                            <td>@Model.DeliveryTimeStrings[index]</td>
                            <td>@Data.PickUpAddress</td>
                            <td>@Data.ReturnAddress</td>
                            <td>@Data.Status.ToString()</td>
                            <td>@Data.AmountOfBags</td>
                            <td>
                                <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/501">Remove from history</a>

                            </td>
                        </tr>
                        index++;
                    }
                }
            }
        </tbody>
    </table>
</div>