@page
@using WebAppIdentity.Models
@model Booking
@{
        ViewData["Title"] = "Order history";
        string[] TableHeaders = new string[] {"id"
        ,"customerId"
        ,"driverId"
        ,"pickUpTimeId]"
        ,"returnTimeId]"
        ,"pickUpAddress]"
        ,"returnAddress]"
        ,"status"
        ,"noOfBags"
        ,"invoiceId"};
}

<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>

@*        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.Id</td>
                            <td>@Data.CustomerId</td>
                            <td>@Data.DriverId</td>
                            <td>@Data.PickUpTimeId</td>
                            <td>@Data.ReturnAddress</td>
                            <td>@Data.Status</td>
                            <td>@Data.NoOfBags</td>
                            <td>@Data.InvoiceId</td>
                        </tr>
                    }
                }
            }
        </tbody>*@
    </table>
</div>